SCRAPE_TIME=19:00

SEARCH_QUERY=特朗普
SEARCH_URL=https://www.zaobao.com.sg/sitesearch?r=%E7%89%B9%E6%9C%97%E6%99%AE
MAX_RESULTS=8
MAX_ARTICLES=6
PLAYWRIGHT_HEADLESS=true
PLAYWRIGHT_TIMEOUT_SECONDS=120
SPEECH_KEYWORDS=讲话,演讲,发言,称,表示,宣称,宣布,下令,威胁,誓言,呼吁,说,谈到

DASHSCOPE_API_KEY=
DASHSCOPE_BASE_URL=https://coding.dashscope.aliyuncs.com/v1
DASHSCOPE_MODEL=qwen3.5-plus

PICOCLAW_EXE=/home/nuonuo/picoclaw-linux-amd64
PICOCLAW_CHANNEL=feishu

HTTP_PROXY=
HTTPS_PROXY=

UPLOAD_HOST=richiev2.local
UPLOAD_USER=richiev2
UPLOAD_PASSWORD=richie
